<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<div id="signUp" layout:fragment="content">

	<div class="container">
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" src="/assets/img/unipo.png" alt="" width="72" height="72">
			<h2>회원가입</h2>
			<p class="lead"></p>
		</div>

		<div class="row">
			<div class="col-md-8 order-md-1" style="margin: 0 auto;">
				<h4 class="mb-3"></h4>
				<div class="needs-validation">
					<div class="mb-3">
						<label for="username">이메일</label>
						<div class="input-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요." required>
						</div>
					</div>

					<div class="mb-3">
						<label for="name">이름 <span class="text-muted"></span></label>
						<input type="text" class="form-control" id="userName" name="userName" placeholder="이름을 입력해주세요." >
					</div>

					<div class="mb-3">
						<label for="password">비밀번호</label>
						<input type="password" class="form-control" id="userPass" name="userPass" placeholder="(영문/숫자/특수문자 포함 8자~20자)" required >
					</div>

					<div class="mb-3">
                        <label for="password">비밀번호 확인</label>
                        <input type="password" class="form-control" id="userPassCheck" name="userPassCheck" placeholder="(영문/숫자/특수문자 포함 8자~20자)" required >
                    </div>

                    <div class="mb-3">
                        <label for="birth">생년월일 <span class="text-muted"></span></label>
                        <input type="text" class="form-control" id="identity" name="identity" placeholder="생년월일을 입력해주세요. ex) 910123" required >
                    </div>

                     <div class="mb-3">
                        <label for="phone">휴대폰 번호</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="휴대폰 번호를 입력해주세요. ex) 01012341234" required>
                    </div>

					<label for="sex">성별</label>

					<div class="d-block my-3">
						<div class="custom-control custom-radio">
							<input id="credit" name="paymentMethod" type="radio" class="custom-control-input" value="7" checked required>
							<label class="custom-control-label" for="credit">남</label>
						</div>
						<div class="custom-control custom-radio">
							<input id="debit" name="paymentMethod" type="radio" class="custom-control-input" value="8" required>
							<label class="custom-control-label" for="debit">여</label>
						</div>
					</div>

					<input type="hidden" id="sex" name="sex"/>
					<button class="btn btn-primary btn-lg btn-block" onclick="return signUp();" type="button">Sign-up</button>
				</div>
			</div>
		</div>

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1"> 2021 Unipo sign-up</p>
			<!-- <ul class="list-inline">
				<li class="list-inline-item"><a href="#">Privacy</a></li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item"><a href="#">Support</a></li>
			</ul> -->
		</footer>
	</div>
	 <script th:inline="javascript">

	    function signUp(){
	        var email = document.getElementById('email').value;
	        var userName = document.getElementById('userName').value;
	        var userPass = document.getElementById('userPass').value;
	        var userPassCheck = document.getElementById('userPassCheck').value;
	        var identity = document.getElementById('identity').value;
	        var phone = document.getElementById('phone').value;
	        var sex = document.getElementsByClassName('custom-control-input');

	        //남자- 7, 여자 - 8
	        for(var i = 0; i < sex.length; i++){
	        	if(sex[i].checked){
	        		sex = sex[i].value;
	        		break;
	        	}
	        }

	        document.getElementById('sex').value = sex;

	        //정규표현식
            var emailRex = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
            var userNameReg = /^[가-힣]{2,4}$/g;
            var num = /[0-9]/g;
            var eng = /[a-z]/ig;
            var spe = /[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi;
            var identityReg = /^[0-9]{6}$/g;
            var phoneReg = /^01[016][0-9]{3,4}[0-9]{4}$/g;
            var spaceReg = /\s/;

            if(!emailRex.test(email)){
                alert("유효하지 않은 아이디입니다.");
                return false;
            }

            if(userPass.length < 8 || userPass.length > 20){
                alert("8자리 ~ 20자리  이내로 입력해주세요.");
                return false;
            }else if(spaceReg.test(userPass)){
                alert("비밀번호는 공백 없이 입력해주세요.");
                return false;
            }else if(!num.test(userPass) || !eng.test(userPass) || !spe.test(userPass) ){
                alert("영문,숫자, 특수문자를 혼합하여 입력해주세요.");
                return false;
            }

            if(userPass != userPassCheck){
                alert("비밀번호가 같은지 확인해주세요.");
                return false;
            }


            if(!userNameReg.test(userName)){
                alert("이름을 확인해주세요.");
                return false;
            }

            if(!phoneReg.test(phone)){
                alert("핸드폰 번호를 확인해주세요.");
                return false;
            }

            if(!identityReg.test(identity)){
                alert("생년월일은 6자리로 입력해주세요.");
                return false;
            }

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange =  function(){
                if(xhr.readyState === xhr.DONE){
                    if(xhr.status === 200 || xhr.status === 201){
                        if(xhr.responseText == "1" || xhr.responseText == 1){
                            alert("계정이 생성되었습니다.");
                            location.href = "/";
                        }else{
                            alert("이미 있는 계정입니다.")
                        }
                    }else{
                        alert("회원가입에 실패했습니다")
                    }
                }
            };
            formData = new FormData();
            formData.append('email', email);
            formData.append('userName', userName);
            formData.append('userPass', userPass);
            formData.append('identity', identity);
            formData.append('phone', phone);
            formData.append('sex', sex);
            xhr.open('POST', '/sign-up');
            xhr.send(formData);

	        return true;

	    }
	 </script>
</div>