<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<div layout:fragment="content">
	<div class="container">
		<div class="board-contents">
			<div class="board-left">
				<div class="list-group">
					<!-- 클릭 시 진해지는 액션주기 -->
					<a href="/board/all/1" th:if="${selectedCategory == 'all'}" class="list-group-item list-group-item-action list-group-item-dark">All </a>
					<a href="/board/all/1" th:if="${selectedCategory != 'all'}" class="list-group-item list-group-item-action k">All </a>

					<a href="/board/community/1" th:if="${selectedCategory == 'community'}" class="list-group-item list-group-item-action list-group-item-dark">Community </a>
					<a href="/board/community/1" th:if="${selectedCategory != 'community'}" class="list-group-item list-group-item-action">Community </a>

					<a href="/board/coding/1" th:if="${selectedCategory == 'coding'}" class="list-group-item list-group-item-action list-group-item-dark">Coding</a>
					<a href="/board/coding/1" th:if="${selectedCategory != 'coding'}" class="list-group-item list-group-item-action">Coding</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Disabled</a>
				</div>
			</div>

			<div class="board-right">
				<div class="table-responsive" style="background-color: #ffffff; padding-left: 5px; padding-right: 5px;">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="board-num">no</th>
								<th scope="col" class="board-title">제목</th>
								<th scope="col" class="board-writer">작성자</th>
								<th scope="col" class="board-time">작성일</th>
								<th scope="col" class="board-look">조회수</th>
							</tr>
						</thead>


						<tbody>
							<tr th:each="boardList : ${boardList}">
								<th scope="row" class="board-num-item" th:text="${boardList.boardId}"></th>
								<td class="board-title-item">
									<a th:href="@{'/board/view/'+ ${boardList.boardId}}" th:text="${boardList.title}"></a>
								</td>
								<td class="board-writer-item" th:text="${boardList.writerName}"></td>
								<td class="board-time-item" th:text="${boardList.createTime}"></td>
								<td class="board-look-item" th:text="${boardList.viewCount}"></td>
							</tr>
						</tbody>
					</table>

					<!-- 페이지네이션 -->
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<!-- Prev -->
							<th:block th:if="${page.isPrev() == false}">
								<li class="page-item disabled"><a class="page-link" tabindex="-1">prev</a></li>
							</th:block>
							<th:block th:if="${page.isPrev() == true}">
								<li class="page-item"><a class="page-link" th:href="@{'/board' + '/'+${selectedCategory}+'/'+${page.startPageNum -1}}" tabindex="-1">prev</a></li>
							</th:block>

							<!-- <li class="page-item-cus"><a class="page-link" href="#">1</a></li>
							<li class="page-item-cus active"><a class="page-link" href="#">2</a></li>
							<li class="page-item-cus"><a class="page-link" href="#">3</a></li>-->

							<th:block th:with="start=${page.startPageNum} , end=${page.endPageNum}">
								<th:block th:each="num : ${#numbers.sequence(start, end)}">
									<th:block th:if="${select != num}">
										<li class="page-item-cus"><a class="page-link" th:href="@{'/board'+'/'+${selectedCategory}+'/'+${num}}" th:text="${num}"> </a></li>
									</th:block>
									<th:block th:if="${select == num}">
										<li class="page-item-cus active"><a class="page-link" th:href="@{'/board'+'/'+${selectedCategory}+'/'+${num}}" th:text="${num}"> </a></li>
									</th:block>
								</th:block>
							</th:block>


							<!-- Next -->
							<th:block th:if="${page.isNext() == false}">
								<li class="page-item disabled"><a class="page-link" href="#"> next</a></li>
							</th:block>
							<th:block th:if="${page.isNext() == true}">
								<li class="page-item"><a class="page-link" th:href="@{'/board' + '/'+${selectedCategory}+'/'+ ${page.endPageNum +1}}">next</a></li>
							</th:block>
						</ul>
					</nav>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var i = 0;
</script>
</html>
