<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="replyFragment">

	<section class="content-item" id="comments">
	<!-- 좋아요 버튼 -->
	<a th:if="${boardLike == '0'}" id="likeA" onclick="like();"><img src="/assets/img/like.png"id="likeBoard" width="30" style="margin-top: 10px;" /></a>
	<a th:if="${boardLike == '1'}" id="likeA" onclick="likeCancel();"><img src="/assets/img/liked.png"id="likeBoard" width="30" style="margin-top: 10px;" /></a>
		<div class="container">
			<div class="row">
				<div class="col-sm-12" id="replyArea">
				    <h3 id="replyCount" th:text="'Reply  ' +${replySize}"></h3>
					<div class="form">
						<h3 class="pull-left">New Comment</h3>
						<!-- <button type="submit" class="btn btn-normal pull-right">Submit</button> -->
						<fieldset>
							<div class="row">
								<!-- <div class="col-sm-3 col-lg-2 hidden-xs">
									<img class="img-responsive" src="/css/img/profile-reply.png" alt="">
								</div> -->
								<div class="form-group col-xs-12 col-sm-9 col-lg-10">
									<textarea class="form-control" id="replyContent" name="content" placeholder="Your message" required=""></textarea>
								</div>
								<button type="button" onclick="clickPostReply();" class="btn btn-normal pull-right">Submit</button>
							</div>
						</fieldset>
                    </div>

					<!-- REPLY LIST START -->
					<th:block th:each="reply : ${reply}">
					    <div class="mediaReply" th:attr="id='mediaReply'+${reply.replyId}" th:if="${reply.parentRplId == null}">
                          <!--대댓글 들어올 구역 -->
                        </div>
                        <div class="media" th:attr="id=${reply.replyId}"  >
						<a class="pull-left" href="" th:if="${reply.parentRplId != null}"><img class="media-object" src="/assets/img/reply.png" alt=""></a>
							<div class="media-body">
								<h4 class="media-heading" th:text="${reply.writerId}"></h4>
								<p th:attr="id='content'+${reply.replyId}" th:text="${reply.content}"></p>
								<ul class="list-unstyled list-inline media-detail pull-left">
									<li><i class="fa fa-thumbs-up"></i><th:block th:text="${reply.likeCount}"/></li>
									<li><i class="fa fa-calendar"></i><th:block th:text="${reply.createTime}"/></li>
								</ul>
								<ul class="list-unstyled list-inline media-detail pull-right">
									<li class="text-align-right"><a href="" onclick="return updateLikeCount(this);">Like</a></li>
									<li class="text-align-right" th:if="${reply.parentRplId == null}"><a href="" onclick="return createReplyArea(this);">Reply</a></li>
									<li class="text-align-right" th:if="${session.userId == reply.writerId}"><a href="" onclick="return updateReply(this);">Update</a>/<a href="" onclick="return deleteReply(this);">Delete</a></li>
								</ul>
							</div>
						</div>

					</th:block>
					<!-- REPLY LIST END -->
                    <div id="replyEnd"></div>
					<!-- COMMENT 1 - START -->
					<!-- <div class="media" id="mediazz">
						<a class="pull-left" href="#">
							<img class="media-object" src="" alt="">
						</a>
						<div class="media-body">
							<h4 class="media-heading">John Doe</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<ul class="list-unstyled list-inline media-detail pull-left">
								<li><i class="fa fa-calendar"></i>27/02/2014</li>
								<li><i class="fa fa-thumbs-up"></i>13</li>
							</ul>
							<ul class="list-unstyled list-inline media-detail pull-right">
								<li class=""><a href="">Like</a></li>
								<li class=""><a href="#" onclick="return createReplyArea(this);">Reply</a></li>
							</ul>
						</div>
					</div>
					<div id="mediazz2"></div> -->
					<!-- COMMENT 1 - END -->
				</div>
			</div>
		</div>
	</section>
	<script th:inline="javascript">

        //댓글 삽입
	    function clickPostReply(){
	    	//댓글 내용 가져오기
	        var content = document.getElementById("replyContent").value;

	    	if(content == null || content == ""){
	    		alert("내용은 필수 입니다.");
	    		document.getElementById("replyContent").focus();
	    		return false;
	    	}

	        //formDate or json form
	         /*<![CDATA[*/
	        var boardId  = [[${board.boardId}]];
	        var writerId = [[${session.userId}]];
	        /*]]>*/
	        var data ={
				boardId   : [[${board.boardId}]],
				writerId  : [[${session.userId}]],
				content   : content
	        };//미사용

	        /*<![CDATA[*/
			var formData = new FormData();
			formData.append('boardId',[[${board.boardId}]]);
			formData.append('writerId',[[${session.userId}]]);
			formData.append('content',content);
			/*]]>*/
	        var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState === xhr.DONE){
					if(xhr.status === 200 || xhr.status === 201){
						var replyId = xhr.responseText;
						createReply(boardId, writerId, content, replyId);						//댓글 동적 생성
						console.log('성공');
					}else{
						console.log('실패');
					}
				}
			};
			/*<![CDATA[*/
			xhr.open('POST', '/reply/'+[[${board.boardId}]]);			//test 로직
			/*]]>*/
			//xhr.setRequestHeader('Content-Type', "application/x-www-form-urlencoded; charset=UTF-8"); // 컨텐츠타입을 json으로
			//xhr.send(JSON.stringify(data));
			xhr.send(formData);

	    }

		//댓글 삽입 후 삽입한 내용 화면에 추가
		function createReply(boardId, writerId, content, replyId){
			//대댓글 영역
			var replyArea = document.createElement("div");
			replyArea.setAttribute('class','mediaReply');
			replyArea.setAttribute('id','mediaReply'+replyId);
			//댓글영역
			var newDiv  = document.createElement("div");
			newDiv.setAttribute('id',replyId);
			newDiv.setAttribute('class','media');
			//현재 시간 가져오기
			var newDate = now();

			newDiv.innerHTML=
		       '    <div class="media-body">'
		       +'       <h4 class="media-heading">'+writerId+'</h4>'
		       +'       <p id="content'+replyId+'">'+content+'</p>'
		       +'       <ul class="list-unstyled list-inline media-detail pull-left">'
		       +'           <li><i class="fa fa-thumbs-up"></i>0</li>'
		       +'           <li><i class="fa fa-calendar"></i>'+newDate+'</li>'
		       +'       </ul>'
		       +'       <ul class="list-unstyled list-inline media-detail pull-right">'
		       +'           <li class="text-align-right"><a href="" onclick="return updateLikeCount(this);">Like</a></li>'
		       +'           <li class="text-align-right"><a href="" onclick="return createReplyArea(this);">Reply</a></li>'
		       +'           <li class="text-align-right" th:if="${session.userId == reply.writerId}"><a href="" onclick="return updateReply(this);">Update</a>/<a href="" onclick="return deleteReply(this);">Delete</a></li>'
		       +'       </ul>'
		       +'   </div>';

		    //reply Area 마지막에 댓글 추가
			var lastnode = document.getElementById("replyEnd");
		    lastnode.before(replyArea);
		    lastnode.before(newDiv);

		    //총 댓글 개수 +1
            var countReply = document.getElementById('replyCount');
            countReply.innerText = 'Reply  '+ (Number(countReply.innerText.substring(6)) + 1);  //Reply 0 -> Reply 1로 바꾸기 위한 처리


            //입력창 clear
            var inputContentArea = document.getElementById('replyContent');
            inputContentArea.value = '';
		}

		//대댓글 입력창 추가
	    function createReplyArea(e){
	    	//이미 생성 되어있는 대댓글 입력창을 삭제.
	    	if(document.getElementById("newDiv") != null){
	    	   	deleteReplyArea();
	    	}

	    	//대댓글 창이 생성되는 위치
            var parent = document.getElementById(e.parentNode.parentNode.parentNode.parentNode.id);
	    	//대댓글 창 생성
	    	var newDiv = document.createElement("div");
	    	newDiv.setAttribute("id","newDiv");
	    	newDiv.setAttribute("class","form");
	    	newDiv.innerHTML=
                    '<h3 class="pull-left"></h3>'
                    +'<fieldset>'
                    +'    <div class="row" id="submit'+parent.id+'">'
                    +'        <div class="form-group col-xs-12 col-sm-9 col-lg-10">'
                    +'            <textarea class="form-control" id="replyReplyContent" name="content" placeholder="Your message" required=""></textarea>'
                    +'       </div>'
                    +'      <button type="button" onclick="createReplyReply(this);" class="btn btn-normal pull-right">Submit</button>'
                    +'  </div>'
                    +'</fieldset>';

            //test
            console.log("nextSibling");
            //console.log(parent.nextSibling);
            //console.log(parent.nextSibling.nextSibling);
            //대댓글 작성 버튼을 누른 div가 부모댓글이라면,
            //console.log(parent.nextSibling.nextSibling.id);
            if(parent.nextElementSibling.className == "mediaReply" || parent.nextElementSibling.id == "replyEnd"){
                //부모 바로 밑임.
                console.log('부모 바로 밑에 대댓글 창 추가');
            }else if(parent.nextSibling.id =="replyEnd"){
                //마지막 댓글는 parent.nextSibling.nextSibling의 값이 없어서 else if문 추가
            }else{
            	console.log("반복");
                while(parent.nextElementSibling.className != "mediaReply" && parent.nextElementSibling.id != "replyEnd"){
                    parent = parent.nextElementSibling;
                }
            }

            parent.after(newDiv);
            //대댓글창 포커스
            document.getElementById('replyReplyContent').focus();

            //a 태그 사용하기 위해서 false를 리턴
            return false;
	    }

		//대댓글 Post
		function createReplyReply(e){
			/*<![CDATA[*/
			var writerId = [[${session.userId}]];
			var boardId = [[${board.boardId}]];
			/*]]>*/

		    //insert/ boardId, parent_rpl_id, writer_id content,
			//대댓글 내용 가져오기
            var content = document.getElementById("replyReplyContent").value;

            //부모 댓글 아이디
            var parentRplId = e.parentNode.id.replace(/[^0-9]/g,'');

            if(content == null || content == ""){
                alert("내용은 필수 입니다.");
                document.getElementById("replyReplyContent").focus();
                return false;
            }

            //data set
            /*<![CDATA[*/
            var formData = new FormData();
            formData.append('boardId', boardId);
            formData.append('writerId',writerId);
            formData.append('content',content);
            formData.append('parentRplId',parentRplId);
            console.log(formData);
            /*]]>*/


            console.log(parentRplId);

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function(){
                if(xhr.readyState === xhr.DONE){
                    if(xhr.status === 200 || xhr.status === 201){
                    	if(xhr.responseText == 0 || xhr.responseText == "0"){
                    		alert("작성하지 못했습니다.");
                    	}else{
                    		//replyId, prentRplId, writerId, content,
                    		createViewReplyReply(xhr.responseText, parentRplId, writerId, content);
                    		//대댓글 입력(해야댐) 어떻게 처리할지 고민ㄱㄱ
                    	}
                    }else{
                        console.log('실패');
                    }
                }
            };
            /*<![CDATA[*/
            xhr.open('POST', '/reply/'+[[${board.boardId}]]);           //test 로직
            /*]]>*/
            xhr.send(formData);
		}



		//대댓글 화면 삽입
		function createViewReplyReply(replyId, parentRplId, writerId, content){
			var newDiv  = document.createElement("div");
			newDiv.setAttribute("id",replyId);
            newDiv.setAttribute("class","media");
            //현재 시간 가져오기
            var newDate = now();

            newDiv.innerHTML=
               '<a class="pull-left" href=""><img class="media-object" src="/assets/img/reply.png" alt=""></a>'
               +'    <div class="media-body">'
               +'       <h4 class="media-heading">'+writerId+'</h4>'
               +'       <p id="content'+replyId+'">'+content+'</p>'
               +'       <ul class="list-unstyled list-inline media-detail pull-left">'
               +'           <li><i class="fa fa-thumbs-up"></i>0</li>'
               +'           <li><i class="fa fa-calendar"></i>'+newDate+'</li>'
               +'       </ul>'
               +'       <ul class="list-unstyled list-inline media-detail pull-right">'
               +'           <li class="text-align-right"><a href="" onclick="return updateLikeCount(this);">Like</a></li>'
               +'           <li class="text-align-right"><a href="" onclick="return updateReply(this);">Update</a>/<a href="" onclick="return deleteReply(this);">Delete</a></li>'
               +'       </ul>'
               +'   </div>';

               //삽입할 대댓글 공간
               var replyReplyArea = document.getElementById('newDiv');
               console.log(replyReplyArea);
               //대댓글 삽입 및 대댓글 입력창 삭제
               replyReplyArea.before(newDiv);
               replyReplyArea.remove();

		}

		//대댓글 창 삭제
	    function deleteReplyArea(){
	    	//대댓글 창 삭제
	        var newDiv = document.getElementById("newDiv");
	        newDiv.remove();
	    }

		//댓글 수정 입력창
		function updateReply(e){
			//이미 생성 되어있는 대댓글 입력창을 삭제.
            if(document.getElementById("newDiv") != null){
                deleteReplyArea();
            }
			//댓글 id값 찾기
			var replyId = e.parentNode.parentNode.parentNode.parentNode.id;

			//댓글 데이터
			var content = document.getElementById("content"+replyId).innerText;

			//좋아요 개수
			var like = e.parentNode.parentNode.previousSibling.previousSibling.firstChild.nextSibling.innerText;

			//댓글/대댓글 판별 1 - 댓글   2 - 대댓글
			var mainOrSub = document.getElementById(replyId).childElementCount;

			//게시물 작성 시각
            var date = e.parentNode.parentNode.previousSibling.previousSibling.firstChild.nextSibling.nextSibling.nextElementSibling.innerText;

			//댓글 수정 입력창
			var newDiv = document.createElement("div");
            newDiv.setAttribute("id","newDiv");
            newDiv.setAttribute("class","form");
            newDiv.innerHTML=
                    '<h3 class="pull-left"></h3>'
                    +'<fieldset>'
                    +'    <div class="row" id="submit'+replyId+'">'
                    +'        <div class="form-group col-xs-12 col-sm-9 col-lg-10">'
                    +'            <textarea class="form-control" id="replyReplyContent" name="content" placeholder="Your message" required="">'+content+'</textarea>'
                    +'       </div>'
                    +'      <input type="hidden" id="date" value="'+date+'" />'
                    +'      <button type="button" onclick="postUpdateReply(this);" class="btn btn-normal pull-right" id="'+like+"@"+mainOrSub+'">Submit</button>'
                    +'  </div>'
                    +'</fieldset>';

            //댓글 자리에 수정 입력창 삽입 후 댓글 삭제
            var replyArea = document.getElementById(replyId);
            replyArea.before(newDiv);
            replyArea.remove();

            return false;
		}

		//댓글 수정내용 POST
		function postUpdateReply(e){
			//댓글 id값 찾기
			var replyId = e.parentNode.id.replace(/[^0-9]/g,'');

			//댓글 내용
            var content = document.getElementById('replyReplyContent').value;

            //좋아요 개수
            var like = e.id.split("@")[0];

            //댓글/대댓글 판별
            var mainOrSub = e.id.split("@")[1];
			//data set
            var formData = new FormData();
            formData.append('replyId', replyId);
            formData.append('content',content);
            /*<![CDATA[*/
            formData.append('writerId',[[${session.userId}]]);
            /*]]>*/

            //데이터 삽입
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function(){
                if(xhr.readyState === xhr.DONE){
                    if(xhr.status === 200 || xhr.status === 201){
                        if(xhr.responseText == 0 || xhr.responseText == "0"){
                            alert("작성하지 못했습니다.");
                        }else{
                        	//화면에 데이터 삽입
                            createViewUpdateReply(replyId, content, like, mainOrSub);
                        }
                    }else{
                        console.log('실패');
                    }
                }
            };
            /*<![CDATA[*/
            xhr.open('PUT', '/reply/'+replyId);           //test 로직
            /*]]>*/
            xhr.send(formData);
		}


		//댓글 수정내용 화면 입력
        function createViewUpdateReply(replyId, content, like, mainOrSub){
        	//댓글 수정창
            var newDiv  = document.createElement("div");
            newDiv.setAttribute("id",replyId);
            newDiv.setAttribute("class","media");

            //게시물 작성시간 가져오기
            var date = document.getElementById('date').value;

            //대댓글이면 ->표시 추가
            if(mainOrSub == 2 || mainOrSub == "2"){
            	newDiv.innerHTML += '<a class="pull-left" href=""><img class="media-object" src="/assets/img/reply.png" alt=""></a>';
            }
            /*<![CDATA[*/
            newDiv.innerHTML +=
            	'    <div class="media-body">'
               +'       <h4 class="media-heading">'+[[${session.userId}]]+'</h4>'
               +'       <p id="content'+replyId+'">'+content+'</p>'
               +'       <ul class="list-unstyled list-inline media-detail pull-left">'
               +'           <li><i class="fa fa-thumbs-up"></i>'+like+'</li>'
               +'           <li><i class="fa fa-calendar"></i>'+date+'</li>'
               +'       </ul>'
               +'       <ul class="list-unstyled list-inline media-detail pull-right">'
               +'           <li class="text-align-right"><a href="" onclick="return updateLikeCount(this);">Like</a></li>'
               +'           <li class="text-align-right"><a href="" onclick="return updateReply(this);">Update</a>/<a href="" onclick="return deleteReply(this);">Delete</a></li>'
               +'       </ul>'
               +'   </div>';
            /*]]>*/

            //댓글수정 입력창 전에 newDiv 삽입 후 댓글수정 입력창 삭제
            var updateReplyArea = document.getElementById('newDiv');
            updateReplyArea.before(newDiv);
            updateReplyArea.remove();


		}
		//댓글 삭제 요청
		function deleteReply(e){
			if(!confirm("댓글을 삭제하시겠습니까?")){
				return false;
			}

			//총 댓글 개수 +1
            var countReply = document.getElementById('replyCount');
            countReply.innerText = 'Reply  '+ (Number(countReply.innerText.substring(6)) - 1);  //Reply 1 -> Reply 0로 바꾸기 위한 처리


			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
                if(xhr.readyState === xhr.DONE){
                    if(xhr.status === 200 || xhr.status === 201){
                        if(xhr.responseText == "0"){
                        	alert("댓글 삭제에 실패했습니다.");
                        }else{
                        	//댓글 삭제
                            document.getElementById(replyId).remove();
                        }
                    }else{
                        console.log('삭제 실패');
                    }
                }
            };
            //replyId값
            var replyId = e.parentNode.parentNode.parentNode.parentNode.id;

            xhr.open('DELETE', '/reply/'+replyId);
            xhr.send();
		}

		// 댓글 좋아요 증가
		function updateLikeCount(e){
			//댓글 id가져오기
			var replyId = e.parentNode.parentNode.parentNode.parentNode.id;

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange =  function(){
                if(xhr.readyState === xhr.DONE){
                    if(xhr.status === 200 || xhr.status === 201){
                        if(xhr.responseText == "0" || xhr.responseText == 0){
                        	alert("이미 눌렀습니다 :)")
                        }else{
                        	//좋아요 수 증가
                        	e.parentNode.parentNode.previousSibling.previousSibling.firstChild.nextSibling.innerHTML = '<i class="fa fa-thumbs-up"></i>' + (Number(e.parentNode.parentNode.previousSibling.previousSibling.firstChild.nextSibling.innerText) + 1);
                        }
                    }else{
                        console.log('댓글 좋아요 실패');
                    }
                }
            };
            formData = new FormData();
            formData.append('replyId', replyId);
            xhr.open('POST', '/reply/sub/like');
            xhr.send(formData);
            return false;
		}

		//게시물 좋아요 클릭
		function like(){
			var xhr = new XMLHttpRequest();
            xhr.onreadystatechange =  function(){
                if(xhr.readyState === xhr.DONE){
                    if(xhr.status === 200 || xhr.status === 201){
                        if(xhr.responseText == "1" || xhr.responseText == 1){
                            document.getElementById('likeBoard').src = '/assets/img/liked.png';
                            document.getElementById('likeA').setAttribute('onclick','likeCancel()');
                            document.getElementById('likeCount').innerHTML = Number(document.getElementById('likeCount').innerHTML) + 1;
                            return false;
                        }else{
                            alert('좋아요  실패');
                        }
                    }else{
                        alert('좋아요  실패')
                    }
                }
            };
            /*<![CDATA[*/
            xhr.open('POST', '/like/'+ [[${board.boardId}]] +'/'+ [[${session.userId}]] +'/1');
            /*]]>*/
            xhr.send();
		}

		//게시물 좋아요 취소 클릭
        function likeCancel(){
        	 var xhr = new XMLHttpRequest();
             xhr.onreadystatechange =  function(){
                 if(xhr.readyState === xhr.DONE){
                     if(xhr.status === 200 || xhr.status === 201){
                         if(xhr.responseText == "1" || xhr.responseText == 1){
                        	 document.getElementById('likeBoard').src = '/assets/img/like.png';
                        	 document.getElementById('likeA').setAttribute('onclick','like()');
                        	 document.getElementById('likeCount').innerHTML = Number(document.getElementById('likeCount').innerHTML) - 1;
                        	 return false;
                         }else{
                        	 alert('좋아요 취소 실패');
                         }
                     }else{
                    	 alert('좋아요 취소 실패')
                     }
                 }
             };

             /*<![CDATA[*/
             xhr.open('POST', '/like/'+ [[${board.boardId}]] +'/'+ [[${session.userId}]] +'/0');
             /*]]>*/
             xhr.send();
        }

		//댓글 데이트 포맷
	    function now(){
	    	var today = new Date();

	    	var year    = today.getFullYear();          //년도
	    	var month   = today.getMonth() + 1;         //월
	    	var date    = today.getDate();              //일

	    	var hours   = today.getHours();             //시
	    	var minutes = today.getMinutes();            //분

	    	month = month >= 10 ? month : '0' + month;            //month 두자리로 저장
	    	date = date >= 10 ? date : '0' + date;                //day 두자리로 저장
	    	minutes = minutes >= 10 ? minutes : '0' + minutes;    //minutes 두자리로 저장
	    	hours = hours >= 10 ? hours : '0' + hours;
	    	return year+"-"+month+"-"+date+" "+hours+":"+minutes;
	    }
	</script>
</div>
</html>
