<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="replyFragment">

	<section class="content-item" id="comments">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" id="replyArea">
				    <h3 id="replyCount" th:text="${replySize}"></h3>
					<div class="form">
						<h3 class="pull-left">New Comment</h3>
						<!-- <button type="submit" class="btn btn-normal pull-right">Submit</button> -->
						<fieldset>
							<div class="row">
								<!-- <div class="col-sm-3 col-lg-2 hidden-xs">
									<img class="img-responsive" src="/css/img/profile-reply.png" alt="">
								</div> -->
								<div class="form-group col-xs-12 col-sm-9 col-lg-10">
									<textarea class="form-control" id="replyContent" name="content" placeholder="Your message" required=""></textarea>
								</div>
								<button type="button" onclick="clickPostReply();" class="btn btn-normal pull-right">Submit</button>
							</div>
						</fieldset>
                    </div>

					<!-- REPLY LIST START -->
					<th:block th:each="reply : ${reply}">
						<div class="media" th:attr="id='media'+${reply.replyId}">
							<div class="media-body">
								<h4 class="media-heading" th:text="${reply.writerId}"></h4>
								<p th:text="${reply.content}"></p>
								<ul class="list-unstyled list-inline media-detail pull-left">
									<li><i class="fa fa-thumbs-up"></i>13</li>
									<li><i class="fa fa-calendar"></i><th:block th:text="${reply.createTime}"/></li>
								</ul>
								<ul class="list-unstyled list-inline media-detail pull-right">
									<li class=""><a href="">Like</a></li>
									<li class=""><a href="#" onclick="return createReplyArea(this);">Reply</a></li>
								</ul>
							</div>
						</div>
						<div th:attr="id='mediaReply'+${reply.replyId}"></div>
					</th:block>
					<!-- REPLY LIST END -->

					<!-- COMMENT 1 - START -->
					<!-- <div class="media" id="mediazz">
						<a class="pull-left" href="#">
							<img class="media-object" src="" alt="">
						</a>
						<div class="media-body">
							<h4 class="media-heading">John Doe</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<ul class="list-unstyled list-inline media-detail pull-left">
								<li><i class="fa fa-calendar"></i>27/02/2014</li>
								<li><i class="fa fa-thumbs-up"></i>13</li>
							</ul>
							<ul class="list-unstyled list-inline media-detail pull-right">
								<li class=""><a href="">Like</a></li>
								<li class=""><a href="#" onclick="return createReplyArea(this);">Reply</a></li>
							</ul>
						</div>
					</div>
					<div id="mediazz2"></div> -->
					<!-- COMMENT 1 - END -->
				</div>
			</div>
		</div>
	</section>
	<script th:inline="javascript">

        //댓글 삽입(대댓글 포함 xmlHttpRequest 사용)
	    function clickPostReply(){

	        var content = document.getElementById("replyContent").value;
	        console.log(content);

	        //formDate or json form
	         /*<![CDATA[*/
	        var boardId  = [[${board.boardId}]];
	        var writerId = [[${session.userId}]];
	        /*]]>*/
	        var data ={
				boardId   : [[${board.boardId}]],
				writerId  : [[${session.userId}]],
				content   : content
	        };//미사용

	        /*<![CDATA[*/
			var formData = new FormData();
			formData.append('boardId',[[${board.boardId}]]);
			formData.append('writerId',[[${session.userId}]]);
			formData.append('content',content);
			/*]]>*/
	        var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState === xhr.DONE){
					if(xhr.status === 200 || xhr.status === 201){
						createReply(boardId, writerId, content);						//댓글 동적 생성
						console.log('성공');
					}else{
						console.log('실패');
					}
				}
			};
			/*<![CDATA[*/
			xhr.open('POST', '/reply/'+[[${board.boardId}]]);			//test 로직
			/*]]>*/
			//xhr.setRequestHeader('Content-Type', "application/x-www-form-urlencoded; charset=UTF-8"); // 컨텐츠타입을 json으로
			//xhr.send(JSON.stringify(data));
			xhr.send(formData);

	    }

		//댓글 삽입 후 삽입한 내용 화면에 추가
		function createReply(boardId, writerId, content){
			console.log('성공');
			var newDiv  = document.createElement("div");
			var newDate = now();

			newDiv.innerHTML=
				'<div class="media">'
		       +'    <div class="media-body">'
		       +'       <h4 class="media-heading">'+writerId+'</h4>'
		       +'       <p>'+content+'</p>'
		       +'       <ul class="list-unstyled list-inline media-detail pull-left">'
		       +'           <li><i class="fa fa-thumbs-up"></i>13</li>'
		       +'           <li><i class="fa fa-calendar"></i>'+newDate+'</li>'
		       +'       </ul>'
		       +'       <ul class="list-unstyled list-inline media-detail pull-right">'
		       +'           <li class=""><a href="">Like</a></li>'
		       +'           <li class=""><a href="#" onclick="return createReplyArea(this);">Reply</a></li>'
		       +'       </ul>'
		       +'   </div>'
		       +'</div>'
		       +'<div></div>';


			var lastnode = document.getElementById("replyArea");
		    lastnode.append(newDiv);

		    //총 댓글 개수 +1
            var countReply = document.getElementById('replyCount');
            countReply.innerText = Number(countReply.innerText) + 1;

            //입력창 clear
            var inputContentArea = document.getElementById('replyContent');
            inputContentArea.value = '';
		}

	    function createReplyArea(e){
	    	//이미 생성 되어있는 대댓글 입력창을 삭제.
	    	if(document.getElementById("newDiv") != null){
	    	   	DeleteReplyArea();
	    	}
	    	//대댓글 창 생성
	    	var newDiv = document.createElement("div");
	    	newDiv.setAttribute("id","newDiv");
	    	newDiv.setAttribute("class","form");
	    	newDiv.innerHTML=
                    '<h3 class="pull-left">New Comment</h3>'
                    +'<fieldset>'
                    +'    <div class="row">'
                    +'        <div class="form-group col-xs-12 col-sm-9 col-lg-10">'
                    +'            <textarea class="form-control" id="replyContent" name="content" placeholder="Your message" required=""></textarea>'
                    +'       </div>'
                    +'      <button type="button" onclick="clickPostReply();" class="btn btn-normal pull-right">Submit</button>'
                    +'  </div>'
                    +'</fieldset>';

            //대댓글 창이 생성되는 위치
            var parent = document.getElementById("mediazz2");
            console.log(parent);
            parent.append(newDiv);

            //a 태그 사용하기 위해서 false를 리턴
            return false;
	    }

	    function DeleteReplyArea(){
	    	//대댓글 창 삭제
	        var newDiv = document.getElementById("newDiv");
	        newDiv.remove();
	    }

	    function now(){
	    	var today = new Date();

	    	var year    = today.getFullYear();          //년도
	    	var month   = today.getMonth() + 1;         //월
	    	var date    = today.getDate();              //일

	    	var hours   = today.getHours();             //시
	    	var minutes = today.getMinutes();            //분

	    	month = month >= 10 ? month : '0' + month;            //month 두자리로 저장
	    	date = date >= 10 ? date : '0' + date;                //day 두자리로 저장
	    	minutes = minutes >= 10 ? minutes : '0' + minutes;    //minutes 두자리로 저장
	    	hours = hours >= 10 ? hours : '0' + hours;
	    	return year+"-"+month+"-"+date+" "+hours+":"+minutes;
	    }
	</script>
</div>
</html>