<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="replyFragment">

	<section class="content-item" id="comments">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
				    <h3>4 Comments</h3>
					<div class="form">
						<h3 class="pull-left">New Comment</h3>
						<!-- <button type="submit" class="btn btn-normal pull-right">Submit</button> -->
						<fieldset>
							<div class="row">
								<!-- <div class="col-sm-3 col-lg-2 hidden-xs">
									<img class="img-responsive" src="/css/img/profile-reply.png" alt="">
								</div> -->
								<div class="form-group col-xs-12 col-sm-9 col-lg-10">
									<textarea class="form-control" id="replyContent" name="content" placeholder="Your message" required=""></textarea>
								</div>
								<button type="button" onclick="clickPostReply();" class="btn btn-normal pull-right">Submit</button>
							</div>
						</fieldset>
                    </div>

					<!-- COMMENT 1 - START -->
					<div class="media" id="mediazz">
						<!-- <a class="pull-left" href="#">
							<img class="media-object" src="" alt="">
						</a> -->
						<div class="media-body">
							<h4 class="media-heading">John Doe</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<ul class="list-unstyled list-inline media-detail pull-left">
								<li><i class="fa fa-calendar"></i>27/02/2014</li>
								<li><i class="fa fa-thumbs-up"></i>13</li>
							</ul>
							<ul class="list-unstyled list-inline media-detail pull-right">
								<li class=""><a href="">Like</a></li>
								<li class=""><a href="#" onclick="return createReplyArea(this);">Reply</a></li>
							</ul>
						</div>
					</div>
					<div id="mediazz2"></div>
					<div class="form">
                        <h3 class="pull-left">New Comment</h3>
                        <!-- <button type="submit" class="btn btn-normal pull-right">Submit</button> -->
                        <fieldset>
                            <div class="row">
                                <!-- <div class="col-sm-3 col-lg-2 hidden-xs">
                                    <img class="img-responsive" src="/css/img/profile-reply.png" alt="">
                                </div> -->
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <textarea class="form-control" id="replyContent" name="content" placeholder="Your message" required=""></textarea>
                                </div>
                                <button type="button" onclick="clickPostReply();" class="btn btn-normal pull-right">Submit</button>
                            </div>
                        </fieldset>
                    </div>
                    <hr>

					<!-- COMMENT 1 - END -->
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
	    function clickPostReply(){
	        var content = document.getElementById("replyContent").value;
	        console.log(content);


	    }

	    function createReplyArea(e){
	    	//이미 생성 되어있는 대댓글 입력창을 삭제.
	    	if(document.getElementById("newDiv") != null){
	    	   	DeleteReplyArea();
	    	}
	    	var newDiv = document.createElement("div");
	    	newDiv.setAttribute("id","newDiv");
	    	newDiv.setAttribute("class","form");
	    	newDiv.innerHTML=
                    '<h3 class="pull-left">New Comment</h3>'
                    +'<fieldset>'
                    +'    <div class="row">'
                    +'        <div class="form-group col-xs-12 col-sm-9 col-lg-10">'
                    +'            <textarea class="form-control" id="replyContent" name="content" placeholder="Your message" required=""></textarea>'
                    +'       </div>'
                    +'      <button type="button" onclick="clickPostReply();" class="btn btn-normal pull-right">Submit</button>'
                    +'  </div>'
                    +'</fieldset>';

            var parent = document.getElementById("mediazz2");
            console.log(parent);
            parent.append(newDiv);

            //a 태그 사용하기 위해서 false를 리턴
            return false;
	    }

	    function DeleteReplyArea(){
	        var newDiv = document.getElementById("newDiv");
	        newDiv.remove();
	    }
	</script>
</div>
</html>