<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<div layout:fragment="content">
	<div class="container">
		<!-- Content here -->
		<div class="board-view-contents" style="padding-top: 50px; width: 70%; margin: 0px auto;">
			<div>
				<b class="text-success" th:text="${category}"></b>
			</div>
			<div>
				<h1 th:text="${board.title}">Unipo text Test Board</h1>
			</div>
			<div class="row" style="margin: 2px; margin-top: 15px;">
				<pre style="margin: 0px;">
<small><th:block th:text="${board.writerId}"/> | <th:block th:text="${board.createTime}"/> |  <th:block th:text="${board.viewCount}"/>  <th:block th:text="${board.likeCount}"/> </small>
				</pre>
			</div>
			<hr>
			<div>
				<pre>This is content
            </pre>
			</div>

			<!-- <div class="row">
				<div class="col">
					<p></p>
				</div>
				<div class="col border">chlgkrws</div>
				<div class="col border">조회수 </div>
				<div class="col border">좋아요</div>
			</div> -->
			<div class="w-100"></div>



            <!-- Reply Start -->
            <div th:replace="dev/board/reply :: replyFragment"></div>
		</div>


	</div>
</div>
</html>