<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<div layout:fragment="content">
	<div class="container">
		<!-- Content here -->
		<div class="board-view-contents" style="padding-top: 50px;">
			<div class="row">
				<div class="col-8">
					<div class="row">
						<div class="col">
							<p>Unipo admin</p>
						</div>
					</div>
					<div class="row">
					   <div class="col"><small>2021-02-27 16:19:00</small></div>
					</div>
				</div>
				<div class="col-4">
					<p>Community</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>col</p>
				</div>
				<div class="col">col</div>
				<div class="col">col</div>
				<div class="col">col</div>
			</div>
			<div class="w-100"></div>

			<div class="row"></div>
		</div>


	</div>
</div>
</html>