<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<div layout:fragment="content">
	<div class="container">
		<!-- Content here -->
		<div class="board-view-contents" style="padding-top: 50px; width: 70%; margin: 0px auto;">
		    <!-- 글 제목란  -->
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
					<select class="custom-select" id="category">
					  <option value="-1" selected>카테고리</option>
                      <!-- code 값 참조 -->
					  <option value="5" th:i>community</option>
					  <option value="6">coding</option>
					</select>
			  </div>
			  <input type="text" class="form-control" id='title' name='title' aria-label="Text input with dropdown button" placeholder="글 제목을 입력해주세요" th:value="${board.title}" >
			</div>

			<div class="form-group col-xs-0 col-sm-0 col-lg-0">
                <textarea class="form-control" id="content" name="content" placeholder="Your message" required="">
                </textarea>
			</div>

			<!-- 작성 / 수정 버튼 -->
			<div class="float-right" th:if="${mode} == write"><button type="button" class="btn btn-outline-dark" onclick="writeBoard();">작성</button><p></div>
			<div class="float-right" th:if="${mode} == modify"><button type="button" class="btn btn-outline-dark" onclick="modifyBoard();">수정</button><p></div>
		</div>
	</div>


    <script th:inline="javascript">
        //에디터 창 설정
        CKEDITOR.replace('content',{
        	height:500
        });

        //이미지 업로드 기능 삭제
        CKEDITOR.editorConfig = function(config) {
        	  config.removePlugins = 'Image';
        }

        //데이터 넣기
        CKEDITOR.instances.content.setData([[${board.content}]]);



        //보낼 데이터
        function prepareData(flag){
            //data validation

            //title
            var title = document.getElementById('title').value;
            console.log(title);

            //content
            var content = CKEDITOR.instances.content.getData();

            //select box
            var s = document.getElementById('category');
            var category = s.options[s.selectedIndex].value;

            if(title == null || title == ""){
                alert("제목을 입력해주세요 :)");
                return false;
            }

            if(content == null || title == ""){
                alert("내용을 입력해주세요 :)");
                return false;
            }

            if(category == -1 || category == "-1"){
                alert("카테고리를 정해주세요 :)");
                s.focus();
                return false;
            }

            var formData = new FormData();
            formData.append('title', title);
            formData.append('content', content);
            formData.append('code', category);
            console.log(formData);
            return formData;
        }

        //게시물 작성
        function writeBoard(){
        	//작성 : 1
        	var flag = 1;
        	var formData = prepareData(flag);

        	if(formData == false){
        		return;
        	}
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function(){
            	if(xhr.readyState === xhr.DONE){
                    if(xhr.status === 200 || xhr.status === 201){
                    	if(xhr.responseText == "1"){
                            alert('게시물이 작성되었습니다.');
                    	}else{
                    		alert('게시물 작성에 실패했습니다.(m)');
                    	}
                        location.href = '/board/all/1';
                    }else{
                        alert('게시물 작성에 실패했습니다.(c)');
                    }
                }
            }
            xhr.open('POST', '/board/create');

            /*<![CDATA[*/
            formData.append('writerId', [[${session.userId}]]);
            /*]]>*/
            xhr.send(formData);
        }

        //게시물 수정
        function modifyBoard(){
        	//수정 : 0
        	var flag = 0;
        	var formData = prepareData(flag);
            console.log(formData);
        	if(formData == false){
                return;
            }
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function(){
                if(xhr.readyState === xhr.DONE){
                    if(xhr.status === 200 || xhr.status === 201){
                        alert('게시물이 수정되었습니다.');
                        location.href = '/board/all/1';
                    }else{
                        alert('게시물 수정에 실패했습니다.');
                    }
                }
            }
            /*<![CDATA[*/
            xhr.open('PUT', '/board/'+[[${board.boardId}]]);
            /*]]>*/

            /*<![CDATA[*/
                formData.append('boardId', [[${board.boardId}]]);
                formData.append('writerId', [[${board.writerId}]]);
                formData.append('writerName', [[${board.writerName}]]);
            /*]]>*/

            xhr.send(formData);
        }

    </script>
</div>

</html>