<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipbyhj.dev.board.mapper.BoardMapper">

    <!--게시물 조회 -->
    <select id = "selectBoardList" resultType="BoardDTO">
        /* 2021.03.04 choi.hak.jun selectBoardList*/
        SELECT board_id
               , title
               , writer_id
               , writer_name
               , view_count
               , like_count
               , code
               , create_by
               , date_format(create_time, '%Y-%m-%d %H:%i') as create_time
          FROM board
         WHERE <if test='code != ""'>
                    code = #{code} AND
               </if>uses_yn = 1
      ORDER BY board_id desc
         LIMIT #{displayPost}, #{postNum}
    </select>

    <!-- 페이지를 위한 게시물 갯수 카운트 -->
    <select id="selectBoardCount" resultType="int">
        /* 2021.02.22 choi.hak.jun selectBoardCount*/
        SELECT count(board_id)
          FROM board
               <if test='code != ""'>
                    WHERE code = #{code}
               </if>
    </select>

    <!-- 게시물 보기 -->
    <select id="selectView" resultType="BoardDTO">
        /* 2021.03.05 choi.hak.jun selectView*/
        SELECT board_id
               , title
               , writer_id
               , writer_name
               , content
               , view_count
               , like_count
               , code
               , create_by
               , date_format(create_time, '%Y-%m-%d %H:%i') as create_time
          FROM board
         WHERE board_id = #{boardId}
    </select>

    <!-- 조회수 증가 -->
    <update id="updateViewCount">
        /* 2021.02.25 choi.hak.jun updateViewCount*/
        UPDATE board
           SET view_count = view_count + 1
         WHERE board_id = #{boardId}
    </update>


</mapper>