<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipbyhj.dev.board.mapper.ReplyMapper">

    <!-- 댓글 조회 -->
    <select id="selectReply">
    /* 2021.02.27 choi.hak.jun selectReply*/
        SELECT reply_id
              ,board_id
              ,parent_rpl_id
              ,writer_id
              ,writer_name
              ,content
              ,like_count
              ,create_by
              ,create_time
          FROM reply
         WHERE board_id = #{boardId} AND use_yn = 1
    </select>

    <!-- 댓글 리스트 조회 (첫 페이지 로딩 용) -->
    <select id="selectReplyList" resultType="ReplyDTO">
    /* 2021.03.14 choi.hak.jun selectReplyList */
        SELECT  reply_id
               ,board_id
               ,parent_rpl_id
               ,writer_id
               ,like_count
               ,content
               ,create_by
               ,DATE_FORMAT(create_time, '%Y-%m-%d %H:%i') AS create_time
          FROM reply
         WHERE board_id = #{boardId} AND use_yn = 1
    </select>

    <!-- 댓글 삽입 -->
    <insert id="insertReply" parameterType="ReplyDTO" useGeneratedKeys="true" keyColumn="reply_id">
    /* 2021.03.08 choi.hak.jun insertReply */
        INSERT
          INTO reply(
               board_id
              ,parent_rpl_id
              ,writer_id
              ,writer_name
              ,content
              ,create_by
              )
        (SELECT
              #{boardId}
              ,#{parentRplId}
              ,#{writerId}
              , user_name
              ,#{content}
              , user_name
          FROM user
         WHERE user_id = #{writerId}
        )
        <selectKey keyProperty="replyId" resultType="String">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateReply" parameterType="String">
    /* 2021.03.31 choi.hak.jun updateReply */
        UPDATE reply
           SET content = #{content}
               ,update_by = #{writerId}
               ,update_time = now()
         WHERE reply_id = #{replyId}

    </update>
    <!-- 댓글 삭제 -->
    <update id="deleteReply">
    /* 2021.03.31 choi.hak.jun deleteReply */
        UPDATE reply
           SET use_yn = 0
         WHERE reply_id = #{replyId}
    </update>

    <!-- 댓글 좋아요 증가ㅡ -->
    <update id="updateLike">
    /* 2021.03.31 choi.hak.jun updateLike */
        UPDATE reply
           SET like_count = like_count + 1
         WHERE reply_id = #{replyId}
    </update>

</mapper>
