<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipbyhj.dev.board.mapper.ReplyMapper">

    <!-- 댓글 조회 -->
    <select id="selectReply">
    /* 2021.02.27 choi.hak.jun selectReply*/
        SELECT reply_id
              ,board_id
              ,parent_rpl_id
              ,writer_id
              ,writer_name
              ,content
              ,like
              ,create_by
              ,create_time
          FROM reply
         WHERE board_id = #{boardId} AND uses_yn = 1
    </select>

    <!-- 댓글 리스트 조회 (첫 페이지 로딩 용) -->
    <select id="selectReplyList" resultType="ReplyDTO">
    /* 2021.03.14 choi.hak.jun selectReplyList */
        SELECT  reply_id
               ,board_id
               ,parent_rpl_id
               ,writer_id
               ,like
               ,content
               ,create_by
               ,DATE_FORMAT(create_time, '%Y-%m-%d %H:%i') AS create_time
          FROM reply
         WHERE board_id = #{boardId}
    </select>

    <!-- 댓글 삽입 -->
    <insert id="insertReply" parameterType="ReplyDTO" useGeneratedKeys="true" keyColumn="reply_id">
    /* 2021.03.08 choi.hak.jun insertReply */
        INSERT
          INTO reply(
               board_id
              ,parent_rpl_id
              ,writer_id
              ,writer_name
              ,content
              ,create_by
              )
        (SELECT
              #{boardId}
              ,#{parentRplId}
              ,#{writerId}
              , user_name
              ,#{content}
              , user_name
          FROM user
         WHERE user_id = #{writerId}
        )
        <selectKey keyProperty="replyId" resultType="String">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>
